html {
    font-size: 62.5%;
  }

body {
    background-image: url("../img/sushibg.webp");
    background-repeat: repeat-y;
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}



.header-main {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    background-color: #111;
  }
  
  .header-main-logo {
    width: auto;
    height: 100%;
  }
  
  .header-main-logo img {
    height: 150px;
  }
  
  .header-main-nav {
    width: fit-content;
    height: 100%;
  }

  .wrapper-main {
    width: 100%;
    margin: 0 auto;
  }

/*Menu starts*/

.container {
  max-width: 1080;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.single_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    position: relative;
    margin-bottom: 20px;
}

.single_menu img {
  width: 14rem;
  height: 14rem;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 20px;
}

.information_content {
  position: relative;
}

.information_content h2 {
  font-size: 2.3rem;
  font-weight: 600;
  border-bottom: 1px dashed #c0392b;
  line-height: 150%;
  text-transform: capitalize;
}

.information_content p {
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 100%;
}

.information_content img {
  width: 29rem;
  height: 29rem;
}

.menu_content {
  width: 100%;  
}

.menu_content h2 {
    font-size: 2.3rem;
    font-weight: 600;
    border-bottom: 1px dashed #c0392b;
    line-height: 150%;
    text-transform: capitalize;
}
.menu_content h2 span {
    font-size: 2.5rem;
    font-weight: 800;
    float: inline-end;
    font-style: italic;
    color: #c0392b;
}
.menu_content p {
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 100%;
}

.callusbutton {
    display: none;
}

.footer-main {
    width: 100%;
    padding: 0px 0 50px;
    background-color: #111;
}


/*Menu ends*/

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 2.6rem;
        font-weight: 800;
    }

    .wrapper-main {
      width: 90%;
    }

    .single_menu {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      position: relative;
      margin-bottom: 20px;
  }

    .single_menu img {
      position: relative;
      height: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding-bottom: 1px;
      margin-left: 10px;
  }

    .menu_content {
      width: 100%;  
    }

    .menu_content h2 {
        font-size: 1.9rem;
        font-weight: 600;
        border-bottom: 1px dashed #c0392b;
        line-height: 125%;
        text-transform: capitalize;
    }
    .menu_content h2 span {
        font-size: 2.0rem;
        font-weight: 800;
        float: inline-end;
        font-style: italic;
        color: #c0392b;
    }
    .menu_content p {
        font-weight: 200;
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 100%;
    }

    .callusbutton {
        display: initial;
        position: fixed;
        width: 100%;
        height: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #405F26;
        color:#fff;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 150%;
      }

      .callusbutton p {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 200%;
      }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 769px) and (max-width: 992px){

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 993px) and (max-width: 1200px){

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {

  .wrapper-main {
    width: 100%;
  }

}
