html {
    font-size: 62.5%;
  }

body {
    background-image: url("../img/sushibg.webp");
    background-repeat: repeat-y;
    padding-top: 150px;
}

body:after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(../img/facebook-hover.svg) url(../img/instagram-hover.svg);
}

a {
  cursor: pointer;
}

a:link { 
  text-decoration: none; 
} 
a:visited { 
  text-decoration: none; 
} 
a:hover { 
  text-decoration: none; 
} 
a:active { 
  text-decoration: none; 
}

h1 {
    font-size: 4.0rem;
    font-weight: 800;
    margin-bottom: 30px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

ul {
  list-style-type: none;
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    background-color: #111;
    z-index: 1000;
  }
  
  .header-main-logo {
    width: fit-content;
    height: 100%;
    display: flex;
  }
  
  .header-main-logo img {
    height: 150px;
    width: auto;
  }
  
  .header-main-nav {
    width: fit-content;
    height: 100%;
  }

  .header-main-nav ul {
    list-style: none;
  }

  .header-main-nav ul li {
    display: inline;
    float: left;
  }

  .header-main-nav ul li a {
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 800;
    color: #fff;
    line-height: 150px;
    display: block;
    height: 100%;
  }

  .header-main-nav ul li a:hover {
    color: #8ab55e;
  }

  .header-main-sm {
    width: fit-content;
    height: 100%;
    padding-right: 60px;
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .header-main-sm-fb {
    width: 40px;
    height: 40px;
    background-image: url(../img/facebook.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-main-sm-fb:hover {
    background-image: url(../img/facebook-hover.svg);
  }

  .header-main-sm-in {
    width: 40px;
    height: 40px;
    background-image: url(../img/instagram.svg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .header-main-sm-in:hover {
    background-image: url(../img/instagram-hover.svg);
  }

  .wrapper-main {
    width: 100%;
    margin: 0 auto;
  }

/*Menu starts*/

.container {
  max-width: 1080;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.single_menu {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    position: relative;
    margin-bottom: 20px;
}

.single_menu img {
  width: 14rem;
  height: 14rem;
  position: relative;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-right: 20px;
}

.information_content {
  position: relative;
}

.information_content h2 {
  font-size: 2.3rem;
  font-weight: 600;
  border-bottom: 1px solid #c0392b;
  line-height: 150%;
  text-transform: capitalize;
}

.information_content p {
  font-weight: 200;
  font-size: 1.6rem;
  letter-spacing: 1px;
  line-height: 100%;
}

.information_content img {
  width: 29rem;
  height: 29rem;
}

.menu_content {
  width: 100%;  
}

.menu_content h2 {
    font-size: 2.3rem;
    font-weight: 600;
    border-bottom: 1px solid #c0392b;
    line-height: 150%;
    text-transform: capitalize;
}
.menu_content h2 span {
    font-size: 2.5rem;
    font-weight: 800;
    float: inline-end;
    font-style: italic;
    color: #c0392b;
}
.menu_content p {
    font-weight: 200;
    font-size: 1.6rem;
    letter-spacing: 1px;
    line-height: 100%;
}

.callusbutton {
    display: none;
}

.footer-main {
    width: 100%;
    padding: 0px 0 50px;
    background-color: #000;
}

.burger-menu, .burger-menu-btn {
  display: none;
}

/*Menu ends*/

@media only screen and (max-width: 600px) {

    h1 {
        font-size: 2.6rem;
        font-weight: 800;
    }

    .header-main-logo {
      padding-left: 20px;
    }

    .header-main-nav {
      display: none;
    }

    .header-main-sm {
      padding-right: 20px;
    }

    .burger-menu-btn {
      display: block;
      width: 50px;
      height: 50px;
      background-image: url(../img/menu-bar.svg), url(../img/menu-close.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center, center left 50px;
    }

    .burger-menu {
      display: none;
      position: fixed;
      width: 100%;
      height: 100vh;
      z-index: 900;
      background-image: url("../img/sushibg.webp");
      background-repeat: repeat-y;
    }

    .burger-menu ul {
      width: 100%;
      height: calc(100vh - 150px);
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
    }

    .burger-menu ul li {
      flex-basis: 100%;
      border-bottom: 1px solid #000;
      padding: 20px;
      margin-right: 20px;
    }

    .burger-menu ul li a {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 3rem;
      font-weight: 800;
      color: #000000;
      display: block;
      height: 100%;

      flex-basis: 100%;
      text-align: center;
    }

    .wrapper-main {
      width: 90%;
    }

    .single_menu {
      display: flex;
      flex-direction: row;
      flex-wrap: no-wrap;
      position: relative;
      margin-bottom: 20px;
  }

    .single_menu img {
      position: relative;
      height: 100px;
      border: 1px solid #ddd;
      border-radius: 5px;
      padding-bottom: 1px;
      margin-left: 0px;
  }

    .menu_content {
      width: 100%;  
    }

    .menu_content h2 {
        font-size: 1.9rem;
        font-weight: 600;
        border-bottom: 1px solid #c0392b;
        line-height: 125%;
        text-transform: capitalize;
    }
    .menu_content h2 span {
        font-size: 2.0rem;
        font-weight: 800;
        float: inline-end;
        font-style: italic;
        color: #c0392b;
    }
    .menu_content p {
        font-weight: 200;
        font-size: 1.6rem;
        letter-spacing: 1px;
        line-height: 100%;
    }

    .callusbutton {
        display: initial;
        position: fixed;
        width: 100%;
        height: 60px;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #405F26;
        color:#fff;
        text-align: center;
        font-size: 2.2rem;
        font-weight: 600;
        line-height: 150%;
        z-index: 1000;
      }

      .callusbutton p {
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 200%;
      }

}

@media only screen and (min-width: 601px) and (max-width: 768px) {

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 769px) and (max-width: 992px){

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 993px) and (max-width: 1200px){

  .wrapper-main {
    width: 100%;
  }

}

@media only screen and (min-width: 1200px) {

  .wrapper-main {
    width: 100%;
  }

}
